.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.Search-modal {
  position: absolute;
  max-height: 20em;
  background-color: white;
  opacity: .7;
  border-radius: 0 0 15px 15px;
  overflow: scroll;
  z-index: 1;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1em;
  cursor: pointer;
  padding: .2em
}

#map {
  position: relative;
  margin-top: 1em;
  width: 100%;
  height: 500px;
}